body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: black !important;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(133, 133, 133);
    border-radius: 13px;
}


#Section-1 {
    position: relative;
    width: clamp(200px, 100%, 100%);
    height: clamp(200px, 105vh, 750px);
    display: flex;
    justify-content: center;
    align-items: center;
}
#Container-1 {
    position: relative;
    width: clamp(200px, 100%, 1536px);
    height: clamp(200px, 105vh, 750px);
    display: flex;
    font-family: var();
}

#Profile {
    position: relative;
    width: clamp(200px, 23vw, 356px);
    height: clamp(200px, 100vh, 747px);
    background-color: #000000;
    margin-top: 5rem;
}
#Img-Container {
    width: clamp(200px, 23vw, 356px);
    height: clamp(200px, 43vh, 313px);
    display: flex;
    justify-content: center;
    align-items: center;
}
#Profile-Img {
    width: clamp(200px, 79%, 279px);
    height: clamp(200px, 88%, 275px);
    object-fit: cover;
    border-radius: 9rem;
}
#Name {
    font-family: var(--Headline);
    font-family: var(--font);
    text-align: center;
    color: #fff;
    font-size: 32px;
    margin: auto;
}
#Para {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    font-size: 1rem;
    margin: auto;
    margin-top: 27px;
    width: 20vw;
    letter-spacing: 1px;
}

#Nav {
    position: absolute;
    width: clamp(200px, 23vw, 356px);
    height: clamp(60px, 10vh, 74px);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s;
    z-index: 999;
}
.Nav_Open{
    width: clamp(200px, 23vw, 356px)!important;
    height: 85vh !important;
}
#Nav_BTN {
    font-size: 34px;
    font-weight: 100;
    margin: auto;
    margin-top: 25px;
    margin-left: 25px;
    color: #fff;
    animation: Nav 2s infinite;
}
#Nav_BTN-2 {
    font-size: 34px;
    font-weight: 100;
    margin: auto;
    margin-top: 25px;
    margin-left: 25px;
    color: #b51515;
    animation: Nav 2s infinite;
    display: none;
}
/* @keyframes Nav {
    0% {
        /* transform: scale(1.2); 
        color: rgb(171, 171, 171);
    } */

#ul{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    padding: 0;
    margin-top: 5rem;
}
li{
    list-style: none;
}
#ul li a{
    text-decoration: none;
    color: #fff;
}
.Nav_Content{
    font-family: var(--font) !important;
    text-align: center;
    margin-top: 10px;
    font-size: 1.6rem;
    color: #fff;
    display: flex !important;
    gap: 10px;
}
.Nav_Content:hover{
    border-bottom: 2px solid silver;
}
.A{
    animation: A 1s both;
}
@keyframes A {
    0%{
        transform: translateY(-35px);
    }
    
}
.B{
    animation: B 1s both;
    animation-delay: 0.1s;
}
@keyframes B {
    0%{
        transform: translateY(-40px);
    }
    
}
.C{
    animation: C 1s both;
    animation-delay: 0.2s;
}
@keyframes C {
    0%{
        transform: translateY(-45px);
    }
    
}
.D{
    animation: D 1s both;
    animation-delay: 0.3s;
}
@keyframes D {
    0%{
        transform: translateY(-50px);
    }
    
}

#Background {
    width: 77vw;
    height: clamp(200px, 100vh, 747px);
    background-image: url(Images/Moon.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}