#Section-2 {
    position: relative;
    width: clamp(200px, 100%, 100%);
    height: clamp(200px, 101vh, 754px);
    background-color: #000000 !important;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
#Container-2 {
    position: relative;
    width: clamp(200px, 100%, 1536px);
    height: clamp(200px, 101vh, 754px);
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.Boxs{
    width: clamp(500px,33vw,506px);
    height: clamp(376px,50vh,376px);
    border: 2px solid rgb(0, 0, 0);
    transition: 0.5s;
}
.IMG-class{
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering:auto;
}
.rows{
    width: clamp(200px, 100%, 1536px);
    height: 50vh;
    display: flex;
    justify-content: center;
}


