#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #000;
 }
 
 .one {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   display: inline-block;
   margin: 0.5rem;
   animation: loadingg 2.5s ease-in-out infinite;
 }
 
 @keyframes loadingg {
   0%,
   100% {
     transform: scale(0.2);
     background-color: #ffffff;
   }
   42% {
     background-color: #939393;
   }
   50% {
     transform: scale(1);
     background-color: #565656b8;
   }
 }
 
 .one:nth-child(0) {
   animation-delay: 0s;
 }
 .one:nth-child(1) {
   animation-delay: 0.2s;
 }
 .one:nth-child(2) {
   animation-delay: 0.4s;
 }
 .one:nth-child(3) {
   animation-delay: 0.6s;
 }
 .one:nth-child(4) {
   animation-delay: 0.8s;
 }
 .one:nth-child(5) {
   animation-delay: 1s;
 }


